.register {
  text-align: center;
  font-weight: 600;
}

label {
  font-size: 25px;
  margin-right: 300px;
}

input {
  width: 400px;
  padding: 12px 20px;
  margin: 15 auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: inherit;
}

input[type="submit"] {
  width: 100px;
  padding: 14px 20px;
  margin-right: 10px;
  margin: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.buttons {
  justify-content: center;
  margin-top: 40px;
}

input[type="submit"]:hover {
  background-color: #9c9c9c;
}

.selects {
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
  margin-left: 150px;
  margin-right: 200px;
}

.buttons {
  vertical-align: middle;
}

.selects > * > label {
  margin: 5px;
  margin-left: 40px;
}

select {
  width: 80px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

.registerButton {
  font-weight: 600;
  background-color: rgb(65, 65, 65);
  color: rgb(255, 255, 255);
  height: 100%;
}

a {
  text-decoration: none;
}

.backButton {
  font-weight: 600;
  background-color: rgb(124, 124, 124);
  color: rgb(255, 255, 255);
  width: 100px;
  padding: 14px 20px;
  margin-right: 10px;
  margin: 8px;
  border-radius: 4px;
}

.options {
  text-align: start;
}
