<form [formGroup]="myForm">
  <div class="register">
    <div class="row">
      <div class="col-12">
        <h1>Register</h1>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col-12">
        <div class="mainInfo">
          <label for="name" class="name">Name</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <input
          formControlName="name"
          type="text"
          id="name"
          name="name"
          placeholder="Your name..."
          required
        />
        <div
          *ngIf="
            myForm.get('name')?.invalid &&
            myForm.get('name')?.errors &&
            (myForm.get('name')?.dirty || myForm.get('name')?.touched)
          "
          class="errorMessage"
        >
          Please provide a name.
        </div>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col-12">
        <div class="mainInfo">
          <label for="email" class="name">Email</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 form-group">
        <input
          formControlName="email"
          type="text"
          id="email"
          name="email"
          placeholder="Your email..."
          required
        />
        <div
          *ngIf="
            myForm.get('email')?.invalid &&
            myForm.get('email')?.errors &&
            (myForm.get('email')?.dirty || myForm.get('email')?.touched)
          "
        >
          Please provide a valid email address.
        </div>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col-12">
        <div class="mainInfo">
          <label for="password">Password</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <input
          formControlName="password"
          type="password"
          id="password"
          name="password"
          placeholder="Your password.."
          required
        />
        <div *ngIf="myForm.get('password')?.hasError('minlength')">
          Please provide a valid email address.
        </div>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col-12">
        <div class="mainInfo">
          <label for="repeatPassword">Repeat password</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <input
          formControlName="repeatPassword"
          type="password"
          id="repeatPassword"
          name="repeatPassword"
          placeholder="Repeat password.."
          required
        />
      </div>
    </div>

    <br />

    <div class="roles row">
      <div class="col-6">
        <div class="labels">
          <label for="role_id_fk">Role</label>
        </div>
      </div>
      <div class="col-6">
        <div class="options">
          <select
            formControlName="role_id_fk"
            name="role_id_fk"
            id="role_id_fk"
            required
          >
            <option *ngFor="let role of roles" value="{{ role.role_id }}">
              {{ role.role_name }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="classroom row">
      <div class="col-6">
        <div class="labels">
          <label for="classroom_id_fk">Classroom</label>
        </div>
      </div>
      <div class="col-6">
        <div class="options">
          <select
            formControlName="classroom_id_fk"
            name="classroom_id_fk"
            id="classroom_id_fk"
            required
          >
            <option value="" selected disabled hidden>Choose here</option>
            <option
              *ngFor="let classroom of classrooms"
              value="{{ classroom.classroom_id }}"
            >
              {{ classroom.classroom_name }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col-4"></div>
      <div class="col-2">
        <div class="buttons">
          <input class="backButton" type="button" value="Back" />
        </div>
      </div>
      <div class="col-2">
        <div class="buttons">
          <input
            class="registerButton"
            (click)="onSubmit(myForm)"
            type="submit"
            value="Submit"
            [disabled]="myForm.invalid"
          />
        </div>
      </div>
      <div class="col-4"></div>
    </div>
  </div>
</form>
