<app-register-button></app-register-button>
<div class="table-responsive desktop">
  <div class="row">
    <div class="col-6" *ngFor="let user of classroomWithUsers.users">
      <app-single-user
        [user]="user"
        (userToDelete)="deleteUser(user)"
        [classroom_name]="this.classroomWithUsers.classroom_name"
      ></app-single-user>
    </div>
  </div>
</div>

<div class="mobile" *ngFor="let user of classroomWithUsers.users">
  <app-single-user
    [user]="user"
    (userToDelete)="deleteUser(user)"
    [classroom_name]="this.classroomWithUsers.classroom_name"
  ></app-single-user>
</div>
