html {
    font-size: 20px;
}

.container {
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'sort content content content content content'
    'sort content content content content content';
    grid-gap: 40px;
}

.header {
    background-color: rgb(49, 49, 49);
    color:rgb(250, 250, 250);
    grid-area: header;
    height: 100px;
    
}

.sort {
    grid-area: sort;
    margin-top: 20px;
}

.sort > form {
    margin-top: 20px;
    }

.links {
    display: grid;
    grid-template-areas:
    'item1 item2 item3 item4 item5';
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    grid-gap: 50px;
    font-size:0.6cm;
    font-weight: 600;
}

a {
    cursor: pointer;
}

a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

a:visited {
    color:none;
}

.link1{
    grid-area: item1;
}
.link2{
    grid-area: item2;
}
.link3{
    grid-area: item3;
}
.link4{
    grid-area: item4;
}
.logout{
    grid-area: item5;
    border:none;
    background: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 25px;
    cursor:pointer;
}

.content {
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.card {
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.507);
    transition: 0.3s;
    border-radius: 5px;
    margin: 10px;
    background-color: rgb(211, 211, 211);
  }

  .test  {
      margin:10px;
      
  }
  
.edit {
    color: rgba(78, 78, 240, 0.979);
    font-weight: bold;
}

.delete {
    color: rgba(165, 22, 22, 0.979);
    font-weight: 600;
    justify-content: end;
}

.crudElements {
    display: grid;
    grid-template-areas:
    'edit delete';
    font-size: 25px;
}

.buttonSubmit {
    padding: 12px;
    border: none;
    background-color: rgb(34, 34, 34);
    color: white;
    font-size: 80%;
    font-weight: bold;
    border-radius: 20px;
    transition:all .3s;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.267);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:70%;
  }

  .buttonSubmit:hover {
    transform: translateY(-1px);
    background-color: rgba(34, 34, 34, 0.856);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.623);
  }
