<div class="login">
  <div class="row">
    <div class="col-12">
      <h1>Log In</h1>
    </div>
  </div>

  <br />

  <form action="/login" [formGroup]="myForm">
    <div class="row">
      <div class="col-12">
        <label for="email" class="name">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <input
          type="text"
          formControlName="email"
          id="email"
          name="email"
          placeholder="Your email..."
        />
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col-12">
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <input
          formControlName="password"
          type="password"
          id="password"
          name="password"
          placeholder="Your password.."
        />
      </div>
    </div>
    <div class="row">
      <div class="col-12" *ngIf="unauthorizedError">
        <p class="errorMessage">Wrong email or password</p>
      </div>
    </div>

    <br />

    <div class="buttons">
      <div class="row">
        <div class="col-12">
          <input
            (click)="logIn()"
            class="loginButton"
            type="submit"
            value="Submit"
          />
        </div>
      </div>
    </div>
  </form>
</div>
