<div class="container desktop">
  <div class="row">
    <div class="col-6" *ngFor="let question of questionsWithAnswers">
      <app-single-question
        [questionWithAnswers]="question"
        (questionToDelete)="deleteQuestion(question)"
      ></app-single-question>
    </div>
  </div>
</div>

<div class="container mobile">
  <div class="row" *ngFor="let question of questionsWithAnswers">
    <div class="col-16">
      <app-single-question
        [questionWithAnswers]="question"
      ></app-single-question>
    </div>
  </div>
</div>
