<div class="container">
  <div class="content">
    <div class="questionContent">
      <div class="row">
        <div class="col-4">
          <label name="question_content">Question content: </label>
        </div>
        <div class="col-8">
          <input name="question_content" autocomplete="off" type="text" />
        </div>
      </div>
    </div>

    <div class="correctAnswer">
      <div class="row">
        <div class="col-4">
          <label name="correctAnswer">Correct Answer: </label>
        </div>
        <div class="col-8">
          <input name="correctAnswer" type="text" autocomplete="off" />
        </div>
      </div>
    </div>

    <div class="wrongAnswer1">
      <label name="wrongAnswer1">Wrong Answer 1: </label>
      <input name="wrongAnswer1" type="text" autocomplete="off" />
    </div>

    <div class="wrongAnswer2">
      <label name="wrongAnswer2">Wrong Answer 2: </label>
      <input name="wrongAnswer2" type="text" autocomplete="off" />
    </div>

    <button class="buttonSubmit" type="submit">Create question</button>
  </div>
</div>
