<div class="container">
  <div class="contentMobile">
    <div class="questionContent">
      <div class="row">
        <div class="col-4">
          <label name="question_content">Question content: </label>
        </div>
        <div class="col-8">
          <input
            [(ngModel)]="questionWithAnswers.question_content"
            name="question_content"
            autocomplete="off"
            type="text"
          />
        </div>
      </div>
    </div>

    <br /><br />

    <div class="correctAnswer">
      <div class="row">
        <div class="col-4">
          <label name="correctAnswer">Correct Answer: </label>
        </div>
        <div class="col-8">
          <input
            [(ngModel)]="questionWithAnswers.answers[0].answer_content"
            name="correctAnswer"
            type="text"
            autocomplete="off"
          />
        </div>
      </div>
    </div>

    <br /><br />

    <div class="wrongAnswer1">
      <div class="row">
        <div class="col-4">
          <label name="wrongAnswer1">Wrong Answer 1: </label>
        </div>
        <div class="col-8">
          <input
            [(ngModel)]="questionWithAnswers.answers[1].answer_content"
            name="wrongAnswer1"
            type="text"
            autocomplete="off"
          />
        </div>
      </div>
    </div>

    <br /><br />

    <div class="wrongAnswer2">
      <div class="row">
        <div class="col-4">
          <label name="wrongAnswer2">Wrong Answer 2: </label>
        </div>
        <div class="col-8">
          <input
            [(ngModel)]="questionWithAnswers.answers[2].answer_content"
            name="wrongAnswer2"
            type="text"
            autocomplete="off"
          />
        </div>
      </div>
    </div>

    <br /><br />

    <button (click)="onSubmit()" class="buttonSubmit" type="submit">
      Create question
    </button>
  </div>
</div>

<div class="container">
  <div class="contentDesktop">
    <div class="questionContent">
      <div class="row">
        <div class="col-4">
          <label name="question_content">Question content: </label>
        </div>
        <div class="row">
          <div class="col-8">
            <input
              [(ngModel)]="questionWithAnswers.question_content"
              name="question_content"
              autocomplete="off"
              type="text"
            />
          </div>
        </div>
      </div>
    </div>

    <br /><br />

    <div class="row">
      <div class="col-4 correctAnswerLabel">
        <label name="correctAnswer">Correct Answer: </label>
      </div>
      <div class="col-4 wrongAnswer1Label">
        <label name="wrongAnswer1">Wrong Answer 1: </label>
      </div>
      <div class="col-4 wrongAnswer2Label">
        <label name="wrongAnswer2">Wrong Answer 2: </label>
      </div>
    </div>

    <div class="row">
      <div class="col-4 correctAnswerField">
        <input
          [(ngModel)]="questionWithAnswers.answers[0].answer_content"
          name="correctAnswer"
          type="text"
          autocomplete="off"
        />
      </div>
      <div class="col-4 wrongAnswer1Field">
        <input
          [(ngModel)]="questionWithAnswers.answers[1].answer_content"
          name="wrongAnswer1"
          type="text"
          autocomplete="off"
        />
      </div>
      <div class="col-4 wrongAnswer2Field">
        <input
          [(ngModel)]="questionWithAnswers.answers[2].answer_content"
          name="wrongAnswer2"
          type="text"
          autocomplete="off"
        />
      </div>
    </div>

    <br /><br /><br />

    <div class="row">
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4">
        <button (click)="onSubmit()" class="buttonSubmit" type="submit">
          Create question
        </button>
      </div>
    </div>
  </div>
</div>
