<div class="container">
  <div class="contentMobile">
    <form (ngSubmit)="showModal()" #form="ngForm">
      <div class="topicContent">
        <div class="row">
          <div class="col-4">
            <label name="topic_name">Topic name: </label>
          </div>
          <div class="col-8">
            <input
              name="topic_name"
              autocomplete="off"
              type="text"
              [(ngModel)]="topic.topic_name"
            />
          </div>
        </div>
      </div>

      <br /><br />

      <button class="buttonSubmit" type="submit">Edit topic</button>
    </form>
  </div>
</div>

<div class="container">
  <div class="contentDesktop">
    <form (ngSubmit)="showModal()" #form="ngForm">
      <div class="topicContent">
        <div class="row">
          <div class="col-4">
            <label name="topic_name">Topic name: </label>
          </div>
          <div class="row">
            <div class="col-12">
              <input
                name="topic_name"
                autocomplete="off"
                type="text"
                [(ngModel)]="topic.topic_name"
              />
            </div>
          </div>
        </div>
      </div>

      <br /><br /><br />

      <div class="row">
        <div class="col-4"></div>
        <div class="col-4"></div>
        <div class="col-4">
          <button class="buttonSubmit" type="submit">Edit topic</button>
        </div>
      </div>
    </form>
  </div>
</div>
