<div class="card">
  <div class="card-header">{{ questionWithAnswers.question_content }}</div>
  <div class="card-body">
    <li class="list-group-item">First answer</li>
    <li class="list-group-item">Second answer</li>
    <li class="list-group-item">Third answer</li>
    <div class="row crud">
      <div class="col-4">
        <input type="image" src="../../../../assets/images/edit.png" />
      </div>
      <div class="col-4">
        <p class="card-text"></p>
      </div>
      <div class="col-4 delete">
        <input type="image" src="../../../../assets/images/trash-can.png" />
      </div>
    </div>
  </div>
</div>
