<div class="card">
  <div class="card-header">{{ questionWithAnswers.question_content }}</div>
  <div class="card-body">
    <li
      *ngFor="let answer of questionWithAnswers.answers"
      class="list-group-item"
    >
      {{ answer.answer_content }}
    </li>
    <div class="row crud">
      <div class="col-4">
        <input type="image" src="../../../../assets/images/edit.png" />
      </div>
      <div class="col-4">
        <p class="card-text"></p>
      </div>
      <div (click)="handleDelete()" class="col-4 delete">
        <input type="image" src="../../../../assets/images/trash-can.png" />
      </div>
    </div>
  </div>
</div>
