<div class="container">
  <div class="contentMobile">
    <div class="topicContent">
      <div class="row">
        <div class="col-4">
          <label name="topic_name">Topic name: </label>
        </div>
        <div class="col-8">
          <input
            name="topic_name"
            [(ngModel)]="topic.topic_name"
            autocomplete="off"
            type="text"
          />
        </div>
      </div>
    </div>

    <br /><br />

    <button class="buttonSubmit" type="submit">Create topic</button>
  </div>
</div>

<div class="container">
  <div class="contentDesktop">
    <div class="topicContent">
      <div class="row">
        <div class="col-4">
          <label name="topic_name">Topic name: </label>
        </div>
        <div class="row">
          <div class="col-12">
            <input
              name="topic_name"
              [(ngModel)]="topic.topic_name"
              autocomplete="off"
              type="text"
            />
          </div>
        </div>
      </div>
    </div>

    <br /><br /><br />

    <div class="row">
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4">
        <button (click)="onSubmit()" class="buttonSubmit" type="submit">
          Create topic
        </button>
      </div>
    </div>
  </div>
</div>
